{% extends 'base.html' %}

{% block content %}
    <form class="inputs" method="post">
        <div class="input">
            <label for="id">Post id</label>
            <input required type="text" name="user_post" id="id">
        </div>
        <div class="input">
            <label for="title">Title</label>
            <input required type="text" name="title" id="title">
        </div>
        <div class="input">
            <label for="body">Body</label>
            <input required type="text" name="body" id="body">
        </div>
        <button class="btn" type="submit">Put</button>
    </form>
    {{ res }}
{% endblock %}